# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log